.contenedor_addMusic{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 92vh;
    padding-top: 12vh;
}

.logo{
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
}

    img{
        width: 280px;
        height: 280px;
    }

    .titulo{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center; 
        padding-bottom: 40px;
    }

    h1{
        color: var(--colorMoradoClaro);
        margin-left: -40px;
        font-size: var(--fontLogo);
    }

.formulario{
    width: 40vw;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}