<div class="container_books">
        <div class="card-group">
            <div class="card" style="width: 14rem; height: 33rem;">
                <div class="container_card-img-top">
                    <img src="" class="card-img-top" alt="...">
                </div>
                    <div class="card-body">
                        <p class="card-title"></p>
                    </div>
                        <ul class="list-group">
                            <li class="list-group"></li>
                            <li class="list-group"></li>
                            <li class="list-group"></li>
                        </ul>
                        <div class="card-link"> </div>
                    
            </div>    
        </div>    
    </div>


