.contenedor_community{
    display: flex;
    flex-direction: column;
    gap: 50px;
    /* margin-top: 10%; */
    padding-top: 20vh;
    height: 92vh;
}

.intro{
    align-self: center;
    text-align: center;
    width: 62vw;
    font-size: var(--fontTituloCard);
}

img{
    margin-top: 20px;
    width: 360px;
    height: 200px;
    margin-bottom: 18px;
}

p{
    margin-bottom: 40px;
}

.cards{
    align-self: center;
    width: 64vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 7vw;
    padding-left: 1vw;
    padding-bottom: 15vh;
}

.img_card{
    width: 20vw;
    height: 20vw;
    border-radius: 12px;
}

    .img_card:hover{
        scale: 1.2;
    }