<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="form-register.component.css">
</head>
<body>


<div class="formulario" >
    <form class="casillas">
        <input type="text" placeholder="Usuario*" class="Usuario">
        <input type="password" placeholder="Contraseña*" class="Contraseña">
        <input type="text" placeholder="Repetir contraseña*" class="Contraseña">
        <input type="email" placeholder ="Correo electrónico" class="Email">
        <input type="date" class="Fecha">
    </form>
    <button class="boton">
        <h5>Registrarse</h5>
    </button>
    <div class="texto-peq">
        <h5>
             ¿Ya tienes cuenta?
        </h5>
        <h5>
              Inicia sesión
        </h5>
    </div>
</div>

</body>
</html>
