footer div {

    height: var(--altoFooter);
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: right;
    font-family: 'FuenteTuneTales';
    align-items: center;
    bottom: 0;

    background-color: var(--colorMoradoOscuro);
}


.title {

    width: 12%;
    
    margin-right: 3%;
}