footer div {

    /* height: 80px; */
    height: var(--altoFooter);
    width: 100%;

    display: flex;
    justify-content: right;
    font-family: TuneTales;
    align-items: center;

    background-color: var(--colorMoradoOscuro);
}


.title {

    width: 12%;
    
    margin-right: 3%;
}