<body>
    <header>
    <div class="div_a">
        <a routerLink="comunidad">Comunidad</a>
        <a routerLink="eventos">Eventos</a>
        <a routerLink="paraTi">Para ti</a>
        <a routerLink="perfil">Perfil</a>
        <a routerLink="myPlaylist">myPlaylist</a>
    </div>

    <!-- <ng-template #noLogueado>
        <div class="div_a">
            <a routerLink="registrate">Regístrate</a>
            <a routerLink="login">Login</a>
        </div>
    </ng-template> -->
</header>
</body>
