body header{

    display: flex;

    /* height: 150px; */
    height: var(--altoHeader);
    width: 100%;
    background-color: black;

    justify-content: right;
    margin-right: 30%;

}

.div_a {

    display: flex;

    align-items: center;
    justify-content: space-evenly;

    font-family: dinn;
    font-size: var(--fontTituloCard);

    color: white;
    margin-right: 30px;
}


.div_a a {

    color: white;
    text-decoration: none;

    margin-left: 30px;
}

header a:hover {



    color: black;
    
}