body header{

    display: flex;
    position: fixed;

    height: var(--altoHeader);
    width: 100%;
    background-color: black;

    /* border: 2px solid lightblue; */

    justify-content: right;
    /* margin-right: 30%; */

    z-index: 1000;

}

.div_a {

    display: flex;

    align-items: center;
    justify-content: space-evenly;

    /* border: 2px solid yellow; */

    width: 100%;

    font-family: 'FuenteTuneTales';
    font-size: 20px;
    font-size: var(--fontTituloCard);

    color: white;
    
    /* margin-right: 30px; */
    /* margin-right: 1%; */
}


.div_a a {

    color: white;
    text-decoration: none;

    margin-left: 2%;

    /* border: 2px solid beige; */
}

header a:hover {

    color: black;
    
}


.div_img_logOut {

    display: flex;

    /* height: 45px; */
    /* width: 45px; */

    height: 40%;
    width: 2.5%;

    /* border: 2px solid red; */

    justify-content: center;
    align-items: center;
}


.img_logOut {

    height: 28px;
    width: 22px;
}

.div_button_logOut {

    display: flex;

    height: 95%;
    width: 80%;
    /* height: 45px;
    width: 36px; */

    /* border: 2px solid green; */

    justify-content: flex-end;
    align-items: center;
}
.button_logOut {

    text-decoration: none;
    background-color: black;
    border: none;
}


.img_logOut:hover {

    background-color: black;
}


.div_logoHeader {

    display: flex;

    /* width: 1000px;
    height: 115px; */
    width: 150vh;
    height: 18vh;

    /* border: 2px solid salmon; */

    margin-left: 0.5%;
    justify-content: flex-start;
    align-items: center;
}


.img_logo {

    height: 100px;
    width: 200px;
}


.div_a_b {

    display: flex;

    align-items: center;
    justify-content: flex-end;

    /* border: 2px solid yellow; */

    width: 30%;

    font-family: 'FuenteTuneTales';
    font-size: 20px;

    color: white;

    padding: 3%;
}

.div_a_b a{

    text-decoration: none;
    color: white;
}

.noLog {

    display: flex;

    margin-left: 20%;

    justify-content: flex-end;
}