
<div class="headerTabla">
 
    <p class="Title">
        Próximos eventos
    </p>
    <p class="Title"> 
        Evento
    </p>
    <p class="Title">
        Fecha
    </p>
    <p class="Title">
        Ubicación
    </p>
    <p class="Title">
        Tickets
    </p>
</div>

<div class="filasTabla">
    <img src="../../../assets/img/Rectangle 58.png" alt="">
    <p class="nameEvento">
        Acordes Mágicos
    </p>
    <div class="fecha">
        AGO.25.2023
        <p class="hora">
            18:00-22:00
        </p>
    </div>
    <div class="ubicacion">
        C. Sonidos Felices 123
        <p class="municipio"> 
            Tenerife 
        </p>
    </div>
    <p class="tickets">
        info +
    </p>
</div>

