:root{
    --colorMoradoOscuro: #6C4B8D;
    --colorMoradoClaro: #CE9CFF;
    --colorFondo: #000000;
    --colorBlanco: #FFFFFF;
}




input {
	outline: none;
	box-sizing: border-box;
	height: 30px;
	padding: 0 20px;
	background-color: #000000;
    color: #FFFFFF;
	border: none;
    border-bottom: 1px solid #FFFFFF;
	
}
.btn i {
	font-size: 20px;
	color: #FFFFFF;
	line-height: 50px;
}



.headerTabla{
    border:none;
    font-weight: bold;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 180px;
    border-bottom: 1px solid white;

}

.contenedor{
    width: 100%;
    justify-content: center;
    display: flex;
}

.Title{
    width: 8%;
    height:30px;
    
   
}
.tablas{
    
    flex-direction: column;
    width: 80%;
    
}


.filasTabla{
    border-bottom: 1px solid whitesmoke;
    width: 100%;
    height:160px;
    color: white;
    display: flex;
    flex-direction: row;
        align-items: center;
    justify-content: space-evenly;
}

.filasTabla img{
    height:125px;
    width: 11%;
}

.nameEvento{
    width: 10%;
    height:130px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
}

.fecha{
    width: 10%;
    height:130px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}


.ubicacion{
    width: 10%;
    height:130px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    
}

.tickets{
    width: 10%;
    height:130px;
    display: flex;
    align-items: center;
}

.imagen-evento {
    width: 120px;
    height:130px;
  }

  .imagen-evento img{
    height: 100%;
    width: 100%;
  }