<div class="tarjeta-evento">
  <div class="contenido-superior">
    <img [src]="evento.photo" alt="Imagen del evento" class="imagen-evento">
    <div class="titulo-evento">
      <span>{{ evento.name_event }}</span>
    </div>
  </div>
  <div class="contenido-central">
    <div class="detalle-evento fecha">{{ getFormattedDate(evento.date) }}</div>
    <div class="detalle-evento hora">{{ evento.hour }}</div>
  </div>
  <div class="contenido-inferior">
    <div class="detalle-evento lugar">{{ evento.place }}</div>
  </div>
</div>