.contenedor_perfil{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding-top: 18vh;
    /* height: 180vh; */
}

/* estilos cabecera */
.cabecera{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80vw;
    gap: 100px;
}   

    img{
        width: 250px;
        height: 250px;
    }

    .info_perfil{
        height: 240px;
        width: 60vw;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

        .botones_perfil{
            margin-top: 6%;
            width: 60vw;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

            .botones, .iconos_rrss{
                display: flex;
                flex-direction: row;
                align-items: flex-end;
                gap: 20px;
            }

            .img_rrss{
                width: 24px;
                height: 24px;
            }

h4{
    color: var(--colorMoradoClaro);
}

p{
    text-align: justify;
}

button{
    width: var(--anchoBotonGrande);
    height: var(--altoBotonGrande);
    border-radius: var(--radiusBoton);
    border: 1px;
    background-color: var(--colorGris);
    font-size: var(--fontBoton);
}

    button:hover{
        background-color: var(--colorMoradoClaro);
    }

/* estilos menu */
/* .menu{
    border-top: 1px solid var(--colorGris);
    width: 80vw;
    display: flex;
    flex-direction: row;
    position: relative;
}

    .boton_menu{
        background-color: transparent;
        width: 40vw;
        border-radius: 0%;
    } */

        /* .boton_menu:hover{
            color: var(--colorMoradoClaro);
            border-top: 3px solid var(--colorMoradoOscuro);
            background-color: transparent;
            font-weight: bold;
        }

        .boton_menu:active{
            color: var(--colorMoradoClaro);
            border-top: 3px solid var(--colorMoradoOscuro);
            background-color: transparent;
            font-weight: bold;
        } */

/* Estilos menu */
.menu {
    border-bottom: 1px solid var(--colorGris);
    width: 80vw;
    display: flex;
    flex-direction: row;
    position: relative; /* Añadimos posición relativa para alinear la línea morada */
  }
  
  .boton_menu {
    font-size: var(--fontTituloCard);
    background-color: transparent;
    width: 40vw;
    border-radius: 0%;
    border: none;
    cursor: pointer;
    position: relative;
  }
  
  /* Estilos para la línea morada */
  .linea_morada {
    height: 3px;
    width: 40vw;
    background-color: var(--colorMoradoOscuro);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: transform 0.3s ease; /* Agregamos una transición para un efecto suave */
  }
  
  /* Estilos para el botón seleccionado */
  .boton_menu.seleccionado {
    font-weight: bold; /* Añadimos negrita al texto del botón seleccionado */
    color: var(--colorMoradoClaro);
  }
  

  .boton_menu:hover{
    background-color: transparent;
  }
  

/* estilos del escaparate de tarjetas */
    .vista_cards{
        align-self: center;
        width: 80vw;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10vw;
        margin-top: -40px;
        margin-bottom: 12vh;
    }

    .img_card{
        width: 20vw;
        height: 20vw;
        border-radius: 12px;
    }
    
        .img_card:hover{
            border: 4px solid var(--colorMoradoClaro);
            scale: 1.2;
        }