<div class="contenedor_perfil">
    <div class="cabecera">
        <img src="{{profile.photo || 'assets/img/sirena.png'}}" alt="" class="profilePhoto">
        <div class="info_perfil">
            <div>
                <h4>{{profile.user}}</h4>
                <p>{{profile.description}}</p>
            </div>

            <div class="botones_perfil">
                <div class="botones">
                    <ng-template [ngIf]= "this.mostrar_logueado">
                        <button type="reset" (click)="publicar();">Añadir publicación</button>
                        <button type="reset" (click)="goEditProfile();">Editar perfil</button>
                    </ng-template>
                    <ng-template [ngIf] = "!this.mostrar_logueado">
                        <ng-template [ngIf] = "this.siguiendo">
                            <button type="reset" (click)="seguir();">Dejar de seguir</button>
                        </ng-template>
                        <ng-template [ngIf] = "!this.siguiendo">
                            <button class="boton_seguir" type="reset" (click)="seguir();">Seguir</button>
                        </ng-template>
                    </ng-template>    
                </div>
                <div class="iconos_rrss">
                    <ng-container *ngIf="profile.facebook">
                        <a href="{{profile.facebook}}" target="_blank"><img class="img_rrss" src="assets/img/icono-facebook-morado.png" alt=""></a>
                    </ng-container>
                    <ng-container *ngIf="profile.instagram">
                        <a href="{{profile.instagram}}" target="_blank"><img class="img_rrss" src="assets/img/icono-instagram-morado.png" alt=""></a>
                    </ng-container>
                    <ng-container *ngIf="profile.twitter">
                        <a href="{{profile.twitter}}" target="_blank"><img class="img_rrss" src="assets/img/icono-twitter-morado.png" alt=""></a>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>

    <div class="menu">
        <button type="button" class="boton_menu" [class.seleccionado]="botonSeleccionado === 0" (click)="seleccionarBoton(0)">Publicaciones</button>
        <button type="button" class="boton_menu" [class.seleccionado]="botonSeleccionado === 1" (click)="seleccionarBoton(1)">Eventos</button>
        <div class="linea_morada" [style.transform]="'translateX(' + (573 * botonSeleccionado) + 'px)'"></div>
      </div>
          

    <div class="vista_cards">
        <ng-template [ngIf]= "botonSeleccionado === 0">
            <div *ngFor = "let publicacion of publicaciones">
                <app-publi-card></app-publi-card>
            </div>
        </ng-template>

        <ng-template [ngIf]= "botonSeleccionado === 1">
            <div *ngFor = "let evento of eventos">
                <div class="img_card">
                    <app-tarjeta-evento-perfil></app-tarjeta-evento-perfil>
                </div>
            </div>
        </ng-template>
    </div>
</div>