@font-face {
  font-family: 'DINNeuzeitGrotesk';
  src: url('../../../assets/fonts/DINNeuzeitGroteskLT-Light.ttf') format('truetype');
}

  .create-event-container {
    display: grid; /* Cambiamos a grid layout */
    grid-template-columns: 1fr; /* Una columna */
    justify-content: center; /* Centrar en el eje horizontal */
    align-items: center; /* Centrar en el eje vertical */
    max-width: 1200px;
    height: 92vh;
    margin: 0 auto;
    background-color: black;
    color: #fff;
    padding-top: 18vh;
    padding-bottom: 10vh;
  }
  
  .create-event-title {
    font-family:"DINNeuzeitGrotesk";
  font-size: 30px;
  margin-bottom: 20px;
  text-align: center; /* Centrar el texto */
  letter-spacing: 5px;  
  }
  
  .form-item {
    display: grid;
    grid-template-columns: 100px auto;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .form-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
  }
  
  label {
    font-weight: 500;
    display: inline-block;
    width: 250px;
    border-bottom: 2px solid #ffffff;
    padding-bottom: 5px;
    font-size: 16px;
    font-family:"DINNeuzeitGrotesk";
  }
  
  input[type="text"],
  input[type="date"],
  input[type="time"],
  input[type="location"],
  textarea {
    margin-left: 20px;
    margin-top: 15px;
    border: none;
    border-radius: 0;
    background-color: black;
    color: #ffffff;
    margin-bottom: 15px;
    width: 100%;
    outline: none;
    font-size: 16px;
    font-family:"DINNeuzeitGrotesk";

  }
  input[type="location"] {
    margin-left:-25px;
    font-size: 16px;
    font-family:"DINNeuzeitGrotesk";
  }
  input[type="date"] {
    margin-left:-1px;
    font-size: 16px;
    font-family:"DINNeuzeitGrotesk";
  }
  input[type="text"]{
    margin-left: 20px;
    font-size: 16px;
    font-family:"DINNeuzeitGrotesk";
  }
  button {
  margin-top: 40px;
  width: 180px;
  height:48px;
  border-radius: 15px;
  border: 1px;
  font-family:"DINNeuzeitGrotesk";
  background-color: rgb(104, 103, 103);
  color: #FFFFFF;
  font-size: 12px;
  margin-left:510px;
  }


  /* Estilo para el input tipo "file" oculto */
input[type="file"] {
  display: none;
}


.image-input {

  margin-left: 15px;
  margin-top: -100px;
  margin-bottom: 50px;
  cursor: pointer; 
  display: block;
  border: none;
  outline: none; 

}
.image-label {
 
  margin-left: 15px;
  margin-top: 15px;
  cursor: pointer;
  display: block;
  border: none;
  padding: 0;
  border-bottom: none;
  background-color: transparent;
}



.description-label {
  font-family: 'DINNeuzeitGrotesk';
  font-weight: 500;
  font-size: 16px;
  display: inline-block;
  width: 1130px;
  border-bottom: 2px solid #ffffff;
  padding-bottom: 5px;
  
}

.description-container {

  margin-left: 35px; 
}



.event-label {
  border-bottom: 2px solid #ffffff; 
  padding-bottom: 5px;
  width: 865px;
  font-size: 16px;

}

.event-container {

  margin-left: 300px; 
}

.date-label {

  border-bottom: 2px solid #ffffff; 
  padding-bottom: 5px;
  width: 250px;
  font-size: 16px;

  margin-left:-10px;
}





