@font-face {
    font-family: 'DINNeuzeitGrotesk';
    src: url('../../../assets/fonts/DINNeuzeitGroteskLT-Light.ttf') format('truetype');
  }
  
  .create-event-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    height: 100vh;
    margin: 0 auto;
    background-color: black;
    color: #fff;
  }
  
  .create-event-title {
    font-family: 'DINNeuzeitGrotesk';
    font-size: 40px;
    margin-bottom: 20px;
  }
  
  .form-item {
    display: grid;
    grid-template-columns: 100px auto;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .form-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
  }
  
  label {
    font-family: 'DINNeuzeitGrotesk';
    font-weight: 500;
    font-size: 20px;
    display: inline-block;
    width: 485px;
    border-bottom: 2px solid #ffffff;
    padding-bottom: 5px;
  }
  
  input[type="text"],
  input[type="date"],
  input[type="time"],
  textarea {
    margin-left: 15px;
    margin-top: 15px;
    border: none;
    border-radius: 0;
    background-color: black;
    color: #fff;
    margin-bottom: 15px;
    width: 100%;
    outline: none;
  }
  
  button {
    width: 212.33px;
    height: 36px;
    padding: 10px;
    background-color: #393E46;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'DINNeuzeitGrotesk';
    margin-top: 30px;
  }