@font-face {
    font-family: 'FuenteTuneTales';
    src: url(/DINNeuzeitGroteskLT-Light.ttf);
}

body {
    display: flex;
    background-color: black;
    padding-top: 6vh;
    padding-bottom: 10vh;
}

.first_section {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.titulo{
    font-size: 38px;
    padding-bottom: 8px;
}

.name_artist {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;

    font-family: "FuenteTuneTales";

    letter-spacing: 4px;
    font-size: 20px;
    margin-top: 10px;
}

.imagen_usuario{
    width: 38px;
    height: 38px;
    border-radius: 24px;
    border: none;
}

.boton_artista{
    background-color: transparent;
    border: none;
}

    .boton_artista:hover{
        color: #CE9CFF;
    }

.info{
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    align-self: flex-start;
    margin-left: 11%;
    margin-bottom: 80px;
}

.soundcloud_card {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-top: 1%;
}

img{
    height: 240px;
    width: 240px;
}


.button_container {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    width: 240px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: #2D2B2B;
}

.publicar {

    height: 48px;
    width: 180px;
    border-radius: 22px;

    text-decoration: none;
    border: none;
    background-color: #2D2B2B;
    color: white;

    font-size: 14px;
}

.icon-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 30px;
  }
  
  .icon-button i {
    color: white; /* Color inicial del icono */
    transition: color 0.4s; /* Transición de color suave */
  }

  .icon-button:hover i {
    transform: scale(1.2);
  }
  
.num_likes{
    font-size: 18px;
    font-family: TuneTales;
    padding-top: 14px;
}

.likes{
    display: flex;
    justify-content: center;
    align-self: flex-start;
    padding-top: 12px;
    gap: 8px;
}



/* SECCION LETRA */

.letra_container {

    display: flex;
    width: 99%;
    height: 90px;
    justify-content: center;
}

.button_letraHistoria_container {

    display: flex;

    width: 80%;
    height: 50px;

    display: flex;
    justify-content: space-evenly;

}

.button_letra, .button_historia {

    width: 400px;
    height: 50px;

    font-family: FuenteTuneTales;
    font-size: 18px;
    color: white;

    border: none;
    border-top: 2px solid #2D2B2B;
    background-color: transparent;

}



.button_letra:hover {

    color:#CE9CFF; 
    border-top: 2px solid #CE9CFF;
    background-color: transparent;
    font-weight: bold;
}


.button_historia:hover {

    color:#CE9CFF; 
    border-top: 2px solid #CE9CFF;
    background-color: transparent;
    font-weight: bold;
}


.button_letra.selected, .button_historia.selected {

    color: #CE9CFF;
    border-top: 2px solid #CE9CFF;
    background-color: transparent;
    font-weight: bold;
}

.letter-size {
    font-size: 20px; 
}

.history-size {
    font-size: 20px; 
}

.textoLetra {

    display: flex;
    width: 99%;
    justify-content: center;

}


.titulo_letra {

    display: flex;

    color: white;
    font-family: FuenteTuneTales;
    font-size: 28px;

    margin-bottom: 1%;

    justify-content: center;
}



.textBoxLetter-size {

    display: flex;

    width: 70%;

    background-color: transparent;

    resize: none;

    color: white;
    text-align: justify;

    text-decoration: none;
    line-height: 2.0;

    margin-top: 2%;

    justify-content: center;

}

.textBoxHistory-size {

    display: flex;

    width: 70%;
    background-color: transparent;


    resize: none;

    color: white;
    font-size: 20px;
    text-align: justify;

    margin-top:2%;
    text-decoration: none;
    justify-content: center;

}





/* SECCION COMENTARIOS */

.second_section {

    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: center;
    background-color: #7D7979;
    margin-left: 48px;
    margin-right: 48px;
    border-radius: 24px;
    height: min-content;

}

.old_comments {

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 4px;
    margin-top: 12px;
    margin-bottom: 20px;
    padding: 20px;
}


.oneComment {

    display: flex;
    gap: 4px;
    margin: 6px;

    color: white;
    font-size: 14px;

    text-align: left;

}


.title_ac {

    display: flex;

    color: #EEEEEE;
    font-size: 16px;

    justify-content: flex-start;
    margin-top: 20px;
    padding-left: 32px;
}

.textarea_container {
    display: flex;
    height: 180px;
    width: 100%;
    justify-content: center;
}

.add_comment {

    display: flex;

    width: 90%;
    height: 170px;

    border: none;
    border-radius: 10px;
    resize: none;

    border: 1px solid #C8BFBF;
    font-family: FuenteTuneTales;
    padding: 1%;
    color: white;

    background-color: transparent;

    text-decoration: none;
}

.caracteres {

    display: flex;

    font-size: 14px;
    color: #C8BFBF;

    width: 95%;
    height: 15px;
    justify-content: flex-end;
    margin-top: 3px;
}

.button_publicar_container {

    display: flex;
    width: 99%;
    height: 50px;
    justify-content: center;
}


.publicar:hover {

    background-color: #CE9CFF;
}