<body>
    <div class="first_section_img">
        <div class="container_img_user">
            <img src="/assets/img/user2.jpg" alt="" class="img_user">
        </div>
    </div>
        <div class="first_section_info">
            <div class="user_name">
                @ tune_explorer
            </div>
            <div class="descripcion">
                Explorador de melodías en busca de la música perfecta
            </div>
            <div class="container_button_1">
                <button class="button_1">Añadir publicación</button>
            <!-- </div>
            <div class="container_button_2"> -->
                <button class="button_2">Editar</button>
                    <div class="logos_redes">
                        <img class="img_ig" src="/assets/img/ig.png" alt="">
                        <img class="img_ig" src="/assets/img/tw.png" alt="">
                        <img class="img_ig" src="/assets/img/fb.png" alt="">
                    </div>
            </div>

    
    

    <div class="second_section">
        
    </div>
    </div>
</body>
