<body>    
    <div class="first_section">
        <div class="info">
            <div class="titulo">{{publicacion.name_letter}}</div>
            <div class="soundcloud_card">
                <a href="{{publicacion.multimedia}}" target="_blank">
                    <img src="{{publicacion.image}}" alt="">
                </a>
                <div class="button_container">
                    <div class="likes">
                        <button class="icon-button" (click)="cambiarColorIcono()">
                            <i class="fas fa-heart" [style.color]="liked ? '#CE9CFF' : '#FFFFFF'"></i>
                        </button>
                        <p class="num_likes">{{likeCount}}</p>
                    </div>
                    <div class="name_artist" *ngIf="userLogueado !== publicacion.id_user">
                        <img class="imagen_usuario" src="{{usuario.photo}}" alt="">
                        <button class="boton_artista" (click)="verPerfil();">{{usuario.user}}</button>
                    </div> 
                </div>
            </div>
        </div>

        <!-- LETRA -->
        
        <div class="letra_container">
            <div class="button_letraHistoria_container">
                <button #letter class="button_letra" [ngClass]="{'selected': selectedItem === 0}" (click)="selectElement(0)">Letra</button>
                <button #history class="button_historia" [ngClass]="{'selected': selectedItem === 1}" (click)="selectElement(1)">Historia</button>
            </div>
        </div>
        <ng-container *ngIf="selectedItem !== null">
            <div class="textoLetra"> 
                <div [ngClass]="{'letter-size textBoxLetter-size': selectedItem === 0, 'history-size textBoxHistory-size': selectedItem === 1}">
                    {{selectedItem === 0 ? publicacion.letter : publicacion.history}}
                </div>
            </div>
    </ng-container>
    </div>

    <div class="second_section">
        <div class="old_comments">
            <div class="oneComment" *ngFor="let comentario of comentarios">
                <i class="fa fa-comment" style="font-size: 18px;"></i> {{comentario.comentario}}
            </div>
            <div class="title_ac">Deja tu comentario</div>
            <div class="textarea_container">
                <textarea class="add_comment" [(ngModel)]="newComment" name="add_comment" id="" cols="30" rows="10" (ngModelChange)="updateCharacterCount()" #comentario></textarea>
            </div>
            <div class="caracteres"> {{characterCount}} caracteres</div>
            <div class="button_publicar_container">
                <button class="publicar" (click)="publishComment(comentario.value)" type="reset">Publicar</button>
            </div>
        </div>
    </div>
</body>