<body>    
    <div class="first_section">
        <div class="name_artist" #user>
            @ nombre artista
        </div>

        <div class="soundcloud_card">
            <a href="{{publicacion.multimedia}}" target="_blank">
                <img src="{{publicacion.image}}" alt="">
            </a>
        </div>

        <div class="button_container">
            <button class="button_añadirPlaylist">Añadir a myPlaylist</button>
            <button class="button_like_container">
                <div class="button_like" (click)="likePost()">
                    <!-- <i class="fa-solid fa-heart" style="color: #404345;"></i> -->
                    <!-- <img class="heart" src="/img//greyheart.png" alt=""> -->
                    <span class="like-count">{{ likeCount }}</span>
                </div>
            </button>
        </div>

        <!-- LETRA -->
        
        <div class="letra_container">
            <div class="button_letraHistoria_container">
                <button #letter class="button_letra" [ngClass]="{'selected': selectedItem === 0}" (click)="selectElement(0)">Letra</button>
                <button #history class="button_historia" [ngClass]="{'selected': selectedItem === 1}" (click)="selectElement(1)">Historia</button>
            </div>
        </div>
        <ng-container *ngIf="selectedItem !== null">
            <div class="titulo_letra">{{selectedItem === 0 ? publicacion.name_letter : 'Historia'}}</div>
            <div class="textoLetra"> 
                <div [ngClass]="{'letter-size textBoxLetter-size': selectedItem === 0, 'history-size textBoxHistory-size': selectedItem === 1}">
                    {{selectedItem === 0 ? publicacion.letter : publicacion.history}}
                    <!-- <div [ngClass]="{'letra-size': selectedItem === 0, 'historia-size': selectedItem === 1}">{{selectedItem === 0 ? publicacion.letter : publicacion.history}}</div> -->
                </div>
            </div>
    </ng-container>
    </div>

    <div class="second_section">
        <div class="comments_section">
            <div class="old_comments" style="border: 2px solid salmon">
                <div class="oneComment" *ngFor="let comentario of comentarios">
                    {{comentario.comentario}}
                </div>
            </div>
            <div class="title_ac">Añadir comentario</div>
            <div class="textarea_container">
                <textarea class="add_comment" [(ngModel)]="newComment" name="add_comment" id="" cols="30" rows="10" (ngModelChange)="updateCharacterCount()" #comentario></textarea>
            </div>
            <div class="caracteres"> {{characterCount}} caracteres</div>
            <div class="button_publicar_container">
                <button class="publicar" (click)="publishComment(comentario.value)" type="reset">Publicar</button>
            </div>
        </div>
    </div>
</body>