<br>
<br>
<br>
<br>
<br>
<div class="Titulo">
    <p>
        @TuneExplorer Playlist
    </p>
</div>
<div class="Reproductores">

<iframe width="610px" height="162px" scrolling="no" frameborder="no" allow="autoplay"
  src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1576315219&amp;color=6C4B8D">
</iframe>
<br>
<br>
<iframe width="610px" height="162px" scrolling="no" frameborder="no" allow="autoplay"
  src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1526313532&amp;color=6C4B8D">
</iframe>

</div>