.contenedor_paraTi{
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-top: var(--altoHeader);
    height: 92vh;
}

.buscador{
    align-self: flex-end;
    height: 10vh;
    display: flex;
    flex-direction: row;
    padding-right: 19vw;
}

    input{
        background-color: transparent;
        color: white;
        font-size: 20px;
        border: none;
        border-bottom: 1px solid var(--colorGris);
        width: 400px;
    }

    button{
        border: none;
        background-color: transparent;
        color: var(--colorGris);
        margin-left: -25px;
    }

    .lupa{
        width: 20px;
        height: 20px;
    }

.cards{
    align-self: center;
    width: 64vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 7vw;
    padding-left: 1vw;
    padding-bottom: 10vh;
}
