<div class="contenedor_paraTi">
    <div class="buscador">
        <form>
            <input type="search" aria-label="Search" #buscar>
            <button type="reset" (click)="getPublicaciones(buscar.value);"><img class="lupa" src="assets/img/lupa.png" alt=""></button>
        </form>
    </div>
    <div class="cards">
        <div *ngFor="let publicacion of publicaciones; let i = index">
            <app-publi-card [publicacion] = "publicacion" (publicacionClicked)="handlePublicacionClick($event)"></app-publi-card>
        </div>
    </div>
</div>
