<div class="contenedor">
    <div class="Logos">
        <div class="logoGrande">
            <img src="../../../assets/img/Logo.png" alt="">
        </div>
        <div class="letrasLogo">
            <img src="../../../assets/img/LOGIN.png" alt="">
        </div>
    </div>
  
    <div class="formulario">
      <form [formGroup]="loginForm" class="casillas" (ngSubmit)="onSubmit()">
        <input formControlName="username" type="text" id="usuario" placeholder="Usuario*"
               class="form-input">
        <span class="form-line"></span>
    
        <input formControlName="password" type="password" id="password" placeholder="Contraseña*"
               class="form-input">
        <span class="form-line"></span>
    
        <button class="boton" type="submit">
            Login
        </button>
        <div *ngIf="loginError" class="mensaje-error">
            Usuario o contraseña incorrectos.
        </div>
      </form>
    </div>
</div>