<div class="contenedor_home">
    <div class="contenido">
        <div class="contenido_logo">
            <img class="img_logo" src="assets/img/sirena.png" alt="Logo TuneTales">
            <h1>TuneTales</h1>
        </div>

        <span>
            <h4>Descubre y comparte música gratis en TuneTales</h4><br>
            Háblanos de tu música y conecta con otros artistas<br>
            ¡Únete ahora y muestra tu talento!<br><br>
            <a class="link" routerLink=''>Visita nuestra comunidad</a>
        </span>
    </div>
        
    <div class="container_slider">
        <div class="container">
            <input type="radio" name="slider" id="item1" checked>
            <input type="radio" name="slider" id="item2">
            <input type="radio" name="slider" id="item3">

            <div class="cards">
                <label class="card" for="item1" id="selector1">
                    <img src="https://edit.org/images/cat/caratulas-cd-big-2019090615.jpg">
                </label>
                <label class="card" for="item2" id="selector2">
                    <img src="https://edit.org/photos/img/blog/how-caratulas-de-discos.jpg-840.jpg">
                </label>
                <label class="card" for="item3" id="selector3">
                    <img src="https://fiverr-res.cloudinary.com/images/t_main1,q_auto,f_auto,q_auto,f_auto/gigs/186737659/original/5bbf057aecc23f24deab6b4112f87150f3a59149/con-un-poco-de-arte-el-mundo-sera-mejor.jpg">
                </label>
            </div>
        </div>
    </div>
</div>
