<div class="contenedor_home">
    <div class="contenido">
        <div class="contenido_logo">
            <img class="img_sirena" src="assets/img/sirena.png" alt="Logo TuneTales">
            <p>TuneTales</p>
        </div>

        <span>
            <h4>Descubre y comparte música gratis en TuneTales</h4><br>
            <h5>Háblanos de tu música y conecta con otros artistas<br>
            ¡Únete ahora y muestra tu talento!<br><br></h5>
            <a class="link" routerLink='comunidad'>Visita nuestra comunidad</a>
        </span>
    </div>
        
    <div class="container_slider">
        <div class="container">
            <input type="radio" name="slider" id="item1" checked>
            <input type="radio" name="slider" id="item2">
            <input type="radio" name="slider" id="item3">

                <div class="cards">
                <ng-container *ngFor="let publicacion of top3Publicaciones; let i = index">
                    <label class="card" [for]="'item' + (i + 1)" [id]="'selector' + (i + 1)">
                      <app-publi-card [publicacion]="publicacion"></app-publi-card>
                    </label>
                  </ng-container>
               
            </div>
        </div>
    </div>
</div>
