<div class="contenedor_editProfile">
    <img src="assets/img/imgPerfil.png" alt="">
    <p>Tus redes sociales</p>

    <div class="input_rrss">
        <button type="reset" class="boton_icon"><img class="icon" src="assets/img/icono-facebook.png"></button>
        <input type="fb" name="fb" id="fb" placeholder="Facebook" style="padding-left: 28px;"/>
    </div>

    <div class="input_rrss">
        <button type="reset" class="boton_icon"><img class="icon" src="assets/img/icono-instagram.png"></button>
        <input type="ig" name="ig" id="ig" placeholder="Instagram" style="padding-left: 28px;"/>
    </div>

    <div class="input_rrss">
        <button type="reset" class="boton_icon"><img class="icon" src="assets/img/icono-twitter.png"></button>
        <input type="tw" name="tw" id="tw" placeholder="Twitter" style="padding-left: 28px;"/>
    </div>

    <!-- <input type="ig" name="ig" id="ig" placeholder="Instagram"/>
    <input type="tw" name="tw" id="tw" placeholder="Twitter"/> -->

    <input type="usuario" name="usuario" id="usuario" placeholder="Usuario"/>
    <input type="password" name="password" id="password" placeholder="Contraseña"/>
    <input type="repeatPassword" name="repeatPassword" id="repeatPassword" placeholder="Repetir contraseña"/>
    <input type="email" name="email" id="email" placeholder="Correo electrónico"/>
    <input type="date" name="fechaNacimiento" id="fechaNacimiento"/>
    <input type="genero" name="genero" id="genero" placeholder="Género musical"/>
    <input type="password" name="password" id="password" placeholder="Contraseña"/>
    <label for="descripcion">Descripción</label>
    <textarea rows="3" cols="40" name="descripcion" id="descripcion"></textarea>

    <button type="reset" class="boton">Guardar cambios</button>
</div>
