.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 72vh;
    margin-bottom: 60px;
}

#image {   
    background-color: transparent;
    color: white;
    padding-bottom: 8px;
    cursor: pointer;
}
  
input, textarea{
    background-color: transparent;
    color: white;
    font-size: var(--fontBody);
    border: none;
    border-bottom: 1px solid white;
    width: 500px;
    resize: none;
}
    ::placeholder{
        color: white;
        /* font-size: 14px; */
    }

    textarea{
        border-top: 1px solid white;
        border-bottom: none;
    }

label{
    align-self: flex-start;
    font-size: var(--fontBody);
    margin-bottom: -8px;
}

.boton{
    width: var(--anchoBotonPeque);
    height: var(--altoBotonPeque);
    border-radius: var(--radiusBoton);
    border: 1px;
    background-color: var(--colorGris);
    font-size: var(--fontBoton);
    margin-top: 40px;
}

    .boton:hover{
        background-color: var(--colorMoradoClaro);
    }