<form [formGroup]="addMusicForm" class="formulario">
    <!-- input para introducir el enlace al archivo de música de SoundCloud (obligatoria)-->
    <input type="archivo" placeholder="Archivo de audio (enlace de SoundCloud)*" formControlName="archivo"
        [ngClass]="{is_invalid: (addMusicForm.get('archivo').dirty || addMusicForm.get('archivo').touched) && !addMusicForm.get('archivo').valid}">
    
    <!-- caja de texto para introducir la letra de la cancion (opcional)-->
    <label for="label">Letra</label>
    <textarea rows="3" cols="40" name="letra" formControlName="letra"></textarea>
    
    <!-- caja de texto para introducir una breve historia de la composición (opcional) -->
    <label for="historia">Historia de la composición</label>
    <textarea rows="3" cols="40" name="historia" formControlName="historia"></textarea>

    <button type="reset" class="boton" [disabled]="addMusicForm.invalid">Publicar</button>

</form>