<form [formGroup]="addMusicForm" class="formulario" (ngSubmit)="sendPubli()">

        <label for="image">Portada</label>
        <input type="file" formControlName="image" id="image" (change)="getFile($event)" #image>
        
    <!-- input para introducir el enlace al archivo de música de SoundCloud (obligatoria)-->
        <label for="multimedia">Pista SoundCloud</label>
        <input type="text" formControlName="multimedia" id="multimedia"
        [ngClass]="{is_invalid: (addMusicForm.get('multimedia').dirty || addMusicForm.get('multimedia').touched) && !addMusicForm.get('multimedia').valid}" #link_soundCloud>

    <!-- caja de texto para introducir el nombre de la letra de la cancion (opcional)-->
        <label for="name_letter">Título</label>
        <input type="text" formControlName="name_letter" id="name_letter">

    <!-- caja de texto para introducir la letra de la cancion (opcional)-->
        <label #letter for="label">Letra</label>
        <textarea rows="3" cols="40" name="letter" formControlName="letter"></textarea>
    
    <!-- caja de texto para introducir una breve historia de la composición (opcional) -->
        <label #history for="history">Historia de la composición</label>
        <textarea rows="3" cols="40" name="history" formControlName="history"></textarea>

    <button type="reset" class="boton" (click)="sendPubli()" [disabled]="addMusicForm.invalid">Publicar</button>

</form>