/* fuentes */
@font-face {
    font-family: 'FuenteTuneTales';
    src: url(assets/fonts/DINNeuzeitGroteskLT-Light.ttf);
}

/* variables */
:root{
    /* colores */
    --colorMoradoOscuro: #6C4B8D;
    --colorMoradoClaro: #CE9CFF;
    --colorFondo: #000000;
    --colorBlanco: #FFFFFF;
    --colorGris: #7D7979;

    /* tamaños de letra */
    --fontLogo: 40px;
    --titulo: 24px;
    --fontBody: 16px; 
    --fontBoton: 14px;
    --fontTituloCard: 20px;
    --fontCard: 15px; 

    /* tamaños botones */
    --anchoBotonGrande: 180px;
    --altoBotonGrande: 48px;
    --anchoBotonPeque: 110px;
    --altoBotonPeque: 48px;
    --radiusBoton: 15px;

    --altoFooter: 8vh;
    --altoHeader: 16vh;
}

/* limpiadores */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: FuenteTuneTales;
    color: var(--colorBlanco);
}

body{
    background-color: var(--colorFondo);
}