/* fuentes */
@font-face {
    font-family: 'FuenteTuneTales';
    src: url(assets/fonts/DINNeuzeitGroteskLT-Light.ttf);
}

/* variables */
:root{
    --colorMoradoOscuro: #6C4B8D;
    --colorMoradoClaro: #CE9CFF;
    --colorFondo: #000000;
    --colorBlanco: #FFFFFF;
    --colorGris: #393e46;

    --anchoBoton: 180px;
    --altoBoton: 34px;
}

/* limpiadores */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: FuenteTuneTales;
    color: var(--colorBlanco);
}

body{
    background-color: var(--colorFondo);
}